Repository itggot-TE4/Yabs, pull requests merged in 2021-12, with the labels that each got.

#740 use builtin function instead of manual loop
  frontend/src/components/ListComponent.vue
Labels: comp: frontend, type:refactor 🔨, javascript

#741 use switch instead of if-else
  frontend/src/components/TitleFormComponent.vue
Labels: comp: frontend, type:refactor 🔨, javascript

#755 English to Swedish
  README.md
  frontend/src/components/AddLoanComponent.vue
  frontend/src/components/BookFormComponent.vue
  frontend/src/components/LibraryLoanComponent.vue
  frontend/src/components/ListComponent.vue
  frontend/src/components/LoanFormComponent.vue
  frontend/src/components/ReturnLoanComponent.vue
  frontend/src/components/TitleFormComponent.vue
  frontend/src/views/AdminDashboardView.vue
  frontend/src/views/AdminLoansView.vue
  frontend/src/views/AdminTitlesEditView.vue
  frontend/src/views/AdminTitlesView.vue
  frontend/src/views/AdminUsersView.vue
  frontend/src/views/AdminView.vue
  frontend/src/views/FindView.vue
  frontend/src/views/LibraryView.vue
Labels: type:enhancement💫, comp: frontend

#759 Ändrat components namn till code standard
  frontend/src/components/BaseModalComponent.vue
  frontend/src/components/CanvasContainerComponent.vue
  frontend/src/components/CigCanvasComponent.vue
  frontend/src/components/GoogleLoginComponent.vue
  frontend/src/components/LoadingIconComponent.vue
  frontend/src/components/LoanBookComponent.vue
  frontend/src/views/StartView.vue
Labels: type:enhancement💫

#760 Ändrade library route path
  frontend/src/router.ts
Labels: type:refactor 🔨
