Repository itggot-TE4/Yabs, pull requests merged in 2021-01, with the labels that each got.

#547 Allow multi book creation
  frontend/src/components/BookFormComponent.vue
Labels: comp: frontend

#595 Save all pictures button in admin/cards
  frontend/src/components/CanvasContainer.vue
  frontend/src/components/CigCanvas.vue
Labels: comp: frontend

#600 Added unit tests for AdminTitlesEdit view
  frontend/src/store/modules/__mocks__/TitlesModule.ts
  frontend/src/views/__tests__/AdminTitlesEditView.spec.ts
  frontend/src/views/__tests__/__snapshots__/AdminTitlesEditView.spec.ts.snap
Labels: type:test🚨

#607 Adding TitleListComponent unit tests
  frontend/src/components/TitleListComponent.vue
  frontend/src/components/__tests__/TitleListcomponent.spec.ts
  frontend/src/store/modules/__mocks__/TitlesModule.ts
Labels: type:test🚨

#609 Testing UserListComponent
  frontend/src/components/__tests__/UserListComponent.spec.ts
  frontend/src/store/modules/__mocks__/UsersModule.ts
Labels: type:test🚨

#610 Testing BookListComponent
  frontend/src/components/__tests__/BookListComponent.spec.ts
  frontend/src/store/modules/__mocks__/BooksModule.ts
Labels: type:test🚨

#590 refactor/581 AddLoan component
  frontend/src/components/AddLoan.vue
Labels: type:refactor 🔨

#618 Addloan error fix
  frontend/src/components/AddLoan.vue
Labels: type:refactor 🔨

#612 Refactor of GoogleLogin.vue component
  frontend/src/components/GoogleLogin.vue
Labels: comp: frontend, type:refactor 🔨

#619 Barcode scanner
  frontend/package.json
  frontend/src/components/BarcodeReaderComponent.vue
  frontend/yarn.lock
Labels: type:feature✨

#616 Fix husky pre-commit hook
  README.md
  package.json
  yarn.lock
Labels: dependencies

#625 Introducing rubocop
  .github/workflows/unit.yml
  backend/.rubocop.yml
  backend/.rubocop_todo.yml
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/api/v1/titles_controller.rb
  backend/app/jobs/data_fetch_job.rb
  backend/app/lib/google_api_client.rb
  backend/db/migrate/20181121120753_create_active_storage_tables.active_storage.rb
  backend/db/seeds.rb
  backend/test/controllers/books_controller_test.rb
  backend/test/controllers/cards_controller_test.rb
  backend/test/controllers/loans_controller_test.rb
  backend/test/controllers/reviews_controller_test.rb
  backend/test/controllers/titles_controller_test.rb
Labels: comp: backend

#623 Generic Modal
  frontend/src/components/BaseModal.vue
  frontend/src/components/__tests__/BaseModal.spec.ts
Labels: comp: frontend

#632 Resolve response in titles module fetch single method
  frontend/src/store/modules/TitlesModule.ts
Labels: type:bug🐛

#611 Unit testing AdminBookView
  frontend/src/views/__tests__/AdminBooksView.spec.ts
  frontend/src/views/__tests__/__snapshots__/AdminBooksView.spec.ts.snap
Labels: type:test🚨

#631 Calling the created method on Start page
  frontend/src/views/Start.vue
Labels: type:bug🐛

#602 Loan form Expire date input added
  frontend/cypress/integration/loanBooks.js
  frontend/src/components/LoanFormComponent.vue
  frontend/src/components/LoanListComponent.vue
  frontend/src/components/__tests__/LoanFormComponent.spec.ts
  frontend/src/types.ts
Labels: help wanted

#635 Implemented unit testing for FindView.vue
  frontend/src/views/__tests__/FindView.spec.ts
  frontend/src/views/__tests__/__snapshots__/FindView.spec.ts.snap
Labels: type:test🚨

#643 Removing unused function in Loans API service
  frontend/src/components/AddLoanComponent.vue
  frontend/src/services/api/loans.ts
  frontend/src/types.ts
Labels: type:refactor 🔨

#638 Unify status handling
  frontend/src/App.vue
  frontend/src/components/AlertComponent.vue
  frontend/src/components/__tests__/AlertComponent.spec.ts
  frontend/src/components/__tests__/__snapshots__/AlertComponent.spec.ts.snap
  frontend/src/store/modules/StatusModule.ts
  frontend/src/types.ts
Labels: comp: boilerplate, comp: frontend, type:feature✨

#647 Implemented unit test for LibraryView.vue
  frontend/src/views/LibraryView.vue
  frontend/src/views/__tests__/LibraryView.spec.ts
  frontend/src/views/__tests__/__snapshots__/LibraryView.spec.ts.snap
Labels: type:test🚨

#645 Add Barcode Scanner to loancomponent
  .codeclimate.yml
  frontend/cypress/integration/loanBooks.js
  frontend/src/components/LoanFormComponent.vue
  frontend/src/components/__tests__/LoanFormComponent.spec.ts
  frontend/src/components/__tests__/__snapshots__/LoanFormComponent.spec.ts.snap
Labels: type:feature✨

#652 Documentation update
  docs/_component_list.md
  docs/_sidebar.md
  docs/_store_modules.md
  docs/index.html
Labels: comp: docs📝

#655 Removed inappropriate code
  frontend/src/components/LibraryLoanComponent.vue
Labels: team: blue, type:enhancement💫

#651 Test for delete title
  frontend/cypress/integration/DeleteTitle.spec.js
  frontend/src/components/BaseModal.vue
  frontend/src/store/modules/__mocks__/TitlesModule.ts
  frontend/src/views/__tests__/AdminTitlesEditView.spec.ts
Labels: type:test🚨
